{% extends 'base.html.twig' %}

{# TODO - title : block -> set variable #}
{% block title %}{{ title }}{% endblock %}
{% set subtitle ="Ref : "~item.id %}

{% block body %}
    {{ include('_COMPONENT/entity/show/_table.html.twig') }}

    <div class="entity__show__buttons">
        {{ include('_COMPONENT/button/crud/_index.html.twig') }}
        {{ include('_COMPONENT/button/crud/_update.html.twig') }}
        {{ include('_COMPONENT/button/crud/_delete.html.twig') }}
    </div>
{% endblock %}
