<nav class="menu menu--navigation">
    <a class="menu-item button button--navigation" href="{{ path('app_home') }}">Accueil</a>
    <a class="menu-item button button--navigation" href="{{ path('app_crud_student_index') }}">Étudiants</a>
    <a class="menu-item button button--navigation" href="{{ path('app_crud_school_class_index') }}">Classes</a>
    <a class="menu-item button button--navigation" href="{{ path('app_crud_evaluation_index') }}">Évaluations</a>
    <a class="menu-item button button--navigation" href="{{ path('app_crud_skill_index') }}">Compétences</a>
    <a class="menu-item button button--navigation" href="{{ path('app_crud_category_index') }}">Catégories</a>
    <a class="menu-item button button--navigation" href="{{ path('app_crud_domain_index') }}">Domaines</a>
</nav>