{% extends 'base.html.twig' %}

{% block title %}Evaluation{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ evaluation.id }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ evaluation.date ? evaluation.date|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Élève</th>
            <td>{{ evaluation.student.firstname }} {{ evaluation.student.surname }}</td>
        </tr>
        <tr>
            <th>Catégorie</th>
            <td>{{ evaluation.category.name }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evaluation_index') }}">back to list</a>

    <a href="{{ path('app_evaluation_edit', {'id': evaluation.id}) }}">edit</a>

    {{ include('evaluation/_delete_form.html.twig') }}
{% endblock %}
