<table class="list__table">
    <thead>
    <tr>
        {% for label, attr in showedAttributes %}
            <th class="element__label">{{ label }}</th>
        {% endfor %}
    </tr>
    </thead>
    
    <tbody>
    {% for item in collection %}
        <tr>
            {% for label, attr  in showedAttributes %}
                
                {# TODO - REFAC #}
                {% if item.(attr) is defined %}
                    <td class="element__value">{{ item.(attr) }}</td>
                {% else %}
                    {% set subAttrs = attr | split('.') %}
                    <td class="element__value">{{ item.(subAttrs[0]).(subAttrs[1]) }}</td>
                {% endif %}
            
            {% endfor %}
            <td class="element__action-buttons">
                {{ include('_COMPONENT/button/crud/_read.html.twig') }}
                {{ include('_COMPONENT/button/crud/_update.html.twig') }}
                {{ include('_COMPONENT/button/crud/_delete.html.twig') }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>