<table class="list__table">
    <thead class="header">
    <tr>
        {% for label, attr in showedAttributes %}
            <th class="element__label">{{ label }}</th>
        {% endfor %}
        
        <th class="action-buttons">
            {% include '_COMPONENT/button/crud/_create.html.twig' %}
        </th>
    </tr>
    </thead>
    
    <tbody>
    {% for item in collection %}
        <tr>
            {% for label, attr  in showedAttributes %}
                
                {# TODO - REFAC trouver une généralisation de item.attr quelquesoit la profondeur de 'attr' #}
                <td class="element__value">
                    {% set subAttrs = attr|split('.') %}
                    {% set subAttrsLength = subAttrs|length %}
                    
                    {% if item.(attr) is defined %}
                        {{ item.(attr) }}
                    {% elseif subAttrsLength == 2 %}
                        {{ item.(subAttrs[0]).(subAttrs[1]) }}
                    {% elseif subAttrsLength == 3 %}
                        {{ item.(subAttrs[0]).(subAttrs[1]).(subAttrs[2]) }}
                    {% elseif subAttrsLength == 4 %}
                        {{ item.(subAttrs[0]).(subAttrs[1]).(subAttrs[2]).(subAttrs[3]) }}
                    {% else %}
                        /!\ CANNOT GET item.{{ subAttrs[0] }}.{{ subAttrs[1] }}.{{ subAttrs[2] }}.{{ subAttrs[3] }} /!\
                    {% endif %}
                </td>
                {# ### REFAC ### #}
            
            {% endfor %}
            <td class="action-buttons">
                {{ include('_COMPONENT/button/crud/_read.html.twig') }}
                {{ include('_COMPONENT/button/crud/_update.html.twig') }}
                {{ include('_COMPONENT/button/crud/_delete.html.twig') }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>