<table class="list__table">
    <thead>
    <tr>
        {% for label, attr in showedAttributes %}
            <th class="element__label">{{ label }}</th>
        {% endfor %}
        
        <th class="action-buttons">
            {% include '_COMPONENT/button/crud/_create.html.twig' %}
        </th>
    </tr>
    </thead>
    
    <tbody>
    {% for item in collection %}
        <tr>
            {% for label, attr  in showedAttributes %}
                
                {# TODO - REFAC #}
                <td class="element__value">
                    {% if item.(attr) is defined %}
                        {{ item.(attr) }}
                    {% else %}
                        {% set subAttrs = attr | split('.') %}
                        {{ item.(subAttrs[0]).(subAttrs[1]) }}
                    {% endif %}
                </td>
            
            {% endfor %}
            <td class="action-buttons">
                {{ include('_COMPONENT/button/crud/_read.html.twig') }}
                {{ include('_COMPONENT/button/crud/_update.html.twig') }}
                {{ include('_COMPONENT/button/crud/_delete.html.twig') }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>